@import '../inc/vars';

.home-page {
    overflow: hidden;
}
.hero-block {
    overflow: hidden;
    position: relative;
    padding: rem(100) 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include tablet-sm {
        background-position: 60%;
        padding: rem(120) 0 rem(40);
    }
    h1 {
        color: rgb(255, 255, 255);
        margin-bottom: rem(12);
        text-align: right;
    }

    &__benefits {
        margin-top: rem(80);
        display: flex;
        flex-direction: column;
        gap: rem(16);
        &-item {
            display: flex;
            align-items: center;
            gap: rem(16);
            font-size: clamp(rem(16), vw(24), rem(24));
            text-transform: uppercase;
            color: #4f4239;
            line-height: 1;
            @include tablet-sm {
                color: #fff;
                gap: rem(8);
            }
            svg {
                @include tablet-sm {
                    width: rem(14);
                    height: rem(14);
                    path {
                        fill: white;
                    }
                }
            }
        }
    }
}

.about-block {
    padding-top: clamp(rem(40), vw(100), rem(100));
    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(100);
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(40);
        }
    }
    &__img {
        display: flex;
        gap: rem(40);
        @include tablet-smm {
            gap: rem(8);
            width: 100%;
        }
    }
    &__inf {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablet-smm {
            width: 100%;
        }
        h2 {
            margin-bottom: clamp(rem(16), vw(40), rem(40));
            line-height: 1;
        }
        &-desc {
            font-size: clamp(rem(14), vw(24), rem(24));
        }
    }
}

.benefits-block {
    position: relative;
    padding-top: clamp(rem(80), vw(200), rem(200));

    &__box {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr 0.9fr;
        gap: rem(40) rem(80);
        @include tablet-md {
            grid-template-columns: 1fr;
            gap: rem(24);
        }
    }

    .benefits-item {
        &__img {
            position: relative;
            img {
                min-height: rem(280);
                object-fit: cover;
            }
            h3 {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: clamp(rem(8), vw(16), rem(16));
                background: #ffffff;
                color: #1d1d1b;
                font-size: clamp(rem(14), vw(18), rem(18));
                text-transform: uppercase;
                display: flex;
                align-items: center;
                gap: rem(16);

                span {
                    max-width: rem(208);
                    @include tablet-sm {
                        max-width: rem(165);
                    }
                }

                justify-content: space-between;
                margin-bottom: 0;
                z-index: 3;
                &::after {
                    content: '';
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="298" height="1" viewBox="0 0 298 1" fill="none"><line y1="0.5" x2="298" y2="0.5" stroke="%234F4239" stroke-dasharray="20 20"/></svg>');
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    left: 0;
                    top: 0;
                }
                &::before {
                    content: '';
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="70" viewBox="0 0 1 70" fill="none"><line x1="0.5" y1="2.18557e-08" x2="0.499997" y2="70" stroke="%234F4239" stroke-dasharray="20 20"/></svg>');
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    right: 0;
                    bottom: 0;
                }
                svg {
                    flex: 0 0 auto;
                    @include tablet-sm {
                        width: rem(40);
                        width: rem(40);
                    }
                }
            }
            &:hover {
                .benefits-item__list {
                    opacity: 1;
                }
            }
        }

        &__list {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #4f4239cc;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: rem(24);
            opacity: 0;
            transition: all 0.3s ease 0s;
            .item {
                color: #fff;
                font-size: clamp(rem(18), vw(32), rem(32));
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    .benefits-item:nth-child(5) {
        display: flex;
        align-items: center;
    }
}

.price-block {
    padding: rem(80) 0;
    margin-top: clamp(rem(40), vw(100), rem(100));
    h2 {
        text-align: center;
        color: #000;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    &__link {
        text-align: center;
    }
}

.works-block {
    padding-top: clamp(rem(40), vw(100), rem(100));
    .container {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        gap: rem(100);
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(40);
        }
    }

    &__item {
        padding: rem(24) 0;
        position: relative;
        &::after {
            content: '';
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1" viewBox="0 0 1000 1" fill="none"><line y1="0.5" x2="1000" y2="0.5" stroke="%23D9CEBB" stroke-dasharray="20 20"/></svg>');

            width: 100%;
            height: rem(1);
            position: absolute;
            left: 0;
            bottom: 0;
        }
        h3 {
            display: flex;
            align-items: center;
            gap: rem(16);
            line-height: 1;
            font-size: clamp(rem(16), vw(24), rem(24));
            text-transform: uppercase;
            font-weight: 400;
        }
        &-desc {
            max-width: rem(900);
            font-size: clamp(rem(14), vw(18), rem(18));
        }
    }
    h2 {
        margin-top: auto;
        margin-bottom: 0;
    }
}

.brends-block {
    position: relative;
    padding-top: clamp(rem(80), vw(200), rem(200));
    .scrolling-container {
        overflow: hidden;
        width: 100%;
    }

    .scrolling-content {
        display: flex;
        animation: scroll 20s linear infinite;
    }

    .title {
        display: flex;
        align-items: center;
        margin-right: rem(16);
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    .title {
        font-size: clamp(rem(48), vw(200), rem(200));
        margin-bottom: 0;
        color: #d9cebb;
        display: flex;
        align-items: center;
        gap: rem(12);
        @include tablet-sm {
            svg {
                height: rem(24);
                width: rem(24);
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: rem(40);
        max-width: rem(1200);
        margin: clamp(rem(30), vw(60), rem(60)) auto 0;
        @include tablet-sm {
            grid-template-columns: 1fr 1fr;
            gap: rem(24);
        }
    }
}

.steps-block {
    padding-top: clamp(rem(80), vw(200), rem(200));
    .container {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        gap: rem(100);
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(40);
        }
    }
    h2 {
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    &__item {
        padding: rem(24) 0;
        position: relative;
        display: flex;
        gap: rem(40);
        @include tablet-sm {
            gap: rem(16);
        }
        &::after {
            content: '';
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1" viewBox="0 0 1000 1" fill="none"><line y1="0.5" x2="1000" y2="0.5" stroke="%23D9CEBB" stroke-dasharray="20 20"/></svg>');

            width: 100%;
            height: rem(1);
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .step {
            font-size: clamp(rem(16), vw(24), rem(24));
            text-transform: uppercase;
            font-weight: 400;
        }
        h3 {
            display: flex;
            align-items: center;
            gap: rem(16);
            line-height: 1;
            font-size: clamp(rem(16), vw(24), rem(24));
            text-transform: uppercase;
            font-weight: 400;
        }

        &-desc {
            max-width: rem(900);
            font-size: clamp(rem(14), vw(18), rem(18));
        }
    }
    &__img-second {
        margin-top: rem(16);
        img {
            width: rem(400);
            height: rem(400);
            margin-left: auto;
        }

        @include tablet-sm {
            img {
                width: rem(202);
                height: rem(202);
            }
        }
    }
}

.banner-block {
    padding: rem(80) 0;
    margin-top: clamp(rem(40), vw(100), rem(100));
    h2 {
        text-align: center;
        color: #000;
    }

    &__desc {
        text-align: center;
        font-size: clamp(rem(14), vw(24), rem(24));
    }
    &__link {
        margin-top: clamp(rem(24), vw(40), rem(40));
        text-align: center;
    }
}

.collection-block {
    position: relative;
    padding-top: clamp(rem(40), vw(100), rem(100));

    // &__box {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    //     gap: rem(40);
    //     @include desktop-md {
    //         grid-template-columns: 1fr 1fr 1fr 1fr;
    //     }
    //     @include tablet-smm {
    //         grid-template-columns: 1fr 1fr 1fr;
    //     }
    //     @include tablet-md {
    //         grid-template-columns: 1fr;
    //         gap: rem(24);
    //     }
    // }

    .collection-item {
        cursor: pointer;
        &__img {
            position: relative;
            aspect-ratio: 0.74;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
								@include tablet-sm {
									max-height: rem(380);
								}
            }
            h3 {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: rem(16);
                background: #ffffff;
                color: #1d1d1b;
                font-size: clamp(rem(14), vw(18), rem(18));
                text-transform: uppercase;
                display: flex;
                align-items: center;
                gap: rem(16);
                max-width: rem(320);
                justify-content: space-between;
                margin-bottom: 0;
                z-index: 3;
                &::after {
                    content: '';
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="298" height="1" viewBox="0 0 298 1" fill="none"><line y1="0.5" x2="298" y2="0.5" stroke="%234F4239" stroke-dasharray="20 20"/></svg>');
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    left: 0;
                    top: 0;
                }
                &::before {
                    content: '';
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="70" viewBox="0 0 1 70" fill="none"><line x1="0.5" y1="2.18557e-08" x2="0.499997" y2="70" stroke="%234F4239" stroke-dasharray="20 20"/></svg>');
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    right: 0;
                    bottom: 0;
                }
                svg {
                    flex: 0 0 auto;
                    @include tablet-sm {
                        width: rem(40);
                        width: rem(40);
                    }
                }
            }
            &:hover {
                .collection-item__list {
                    opacity: 1;
                }
            }
        }

        &__list {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #4f4239cc;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: rem(24);
            opacity: 0;
            transition: all 0.3s ease 0s;
            pointer-events: none;
						@include tablet-sm {
							opacity: 1;
						}
            .item {
                color: #fff;
                font-size: clamp(rem(14), vw(24), rem(24));
                text-align: center;
                text-transform: uppercase;
                pointer-events: none;
            }
        }
    }
    @include tablet-sm {
        .swiper {
            overflow: visible;
        }
    }

    .container {
        position: relative;
        @include tablet-sm {
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                left: -98%;
                top: 0;
                background-color: white;
                position: absolute;
                z-index: 4;
            }
        }
    }
}
.swiper-box {
    max-width: rem(700);
    position: relative;
    padding: 0 rem(40);
    margin: 0 rem(20);
    @include tablet-smm {
        padding: 0;
        margin: 0;
    }
    .button-next,
    .button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include tablet-smm {
            position: relative;
            top: 0;
            transform: translateY(0);
        }
    }
    .button-next {
        left: rem(-40);
        @include tablet-smm {
            left: auto;
        }
    }
    .button-prev {
        right: rem(-40);
        @include tablet-smm {
            right: auto;
        }
    }
    .nav {
        margin-top: rem(24);
        justify-content: center;
        display: flex;
        gap: rem(24);
        svg {
            height: rem(40);
            width: rem(40);
            justify-content: center;
        }
    }
}
.mySwiper4 {
    img {
        max-height: rem(500);
        max-width: rem(500);
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: flex;
        margin: auto;
        @include tablet-sm {
            max-height: rem(288);
            max-height: rem(288);
        }
    }
}
.mySwiper3 {
    margin-top: rem(8);
    .swiper-slide {
        height: auto;
    }
    img {
        max-height: rem(100);
        max-width: rem(100);
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin: auto;
        @include tablet-sm {
            max-height: rem(50);
            max-height: rem(50);
        }
    }
}
.fancybox-content {
    @include tablet-sm {
        padding: rem(15) !important;
    }
}
.fancybox-navigation {
    display: none;
}
.question-block {
    padding-top: clamp(rem(80), vw(200), rem(200));
    .container {
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        gap: rem(100);
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(40);
        }
    }
    h2 {
        margin-bottom: 0;
        @include tablet-sm {
            max-width: 90%;
        }
    }

    &__item {
        margin-bottom: rem(12);
        transition: all 0.3s;
        padding: clamp(rem(16), vw(24), rem(24)) 0;
        position: relative;
        &::after {
            content: '';
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1" viewBox="0 0 1000 1" fill="none"><line y1="0.5" x2="1000" y2="0.5" stroke="%23D9CEBB" stroke-dasharray="20 20"/></svg>');

            width: 100%;
            height: rem(1);
            position: absolute;
            left: 0;
            bottom: 0;
        }
        svg {
            flex: 0 0 auto;
            transition: all 0.3s ease 0s;
            margin-left: auto;
            @include tablet-sm {
                width: rem(40);
                width: rem(40);
            }
        }
        h3 {
            cursor: pointer;
            font-size: clamp(rem(18), vw(24), rem(24));
            display: flex;
            transition: all 0.3s;
            text-transform: uppercase;
            gap: rem(40);
            align-items: center;
            margin-bottom: 0;
            @include tablet-sm {
                gap: rem(16);
            }
            span {
                display: none;
            }
        }

        &-desc {
            padding-top: rem(8);
            margin: 0 auto;
            padding-top: rem(16);
            margin-left: clamp(rem(40), vw(82), rem(82));
            max-width: rem(800);
        }

        .ui-state-active {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.product-block {
    padding-top: clamp(rem(80), vw(200), rem(200));
    .container {
        overflow: visible;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            left: -98%;
            top: 0;
            background-color: white;
            position: absolute;
            z-index: 4;
        }
    }
    h2 {
        text-align: center;
        margin-bottom: clamp(rem(24), vw(32), rem(32));
    }

    .swiper {
        overflow: visible;
    }
}

.testimonials-block {
    padding-top: clamp(rem(80), vw(200), rem(200));
    h2 {
        text-align: center;
        margin-bottom: clamp(rem(24), vw(32), rem(32));
    }
  
    .step {
        text-align: center;
        font-size: clamp(rem(14), vw(18), rem(18));
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    .testimonial {
        text-align: center;
        font-size: clamp(rem(14), vw(18), rem(18));
        margin-bottom: clamp(rem(24), vw(40), rem(40));
        max-width: rem(860);
        margin: 0 auto;
    }

    .name {
        text-align: center;
        font-size: clamp(rem(14), vw(18), rem(18));
        text-transform: uppercase;
				margin-top: clamp(rem(24), vw(40), rem(40));
    }
    .caption {
        text-align: center;
        color: #909090;
        font-size: clamp(rem(14), vw(18), rem(18));

        
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    .swiper-nav {
        display: flex;
        justify-content: center;
        gap: rem(40);
        button {
            border: none;
        }
        @include tablet-sm {
            gap: rem(24);
            svg {
                width: rem(40);
                height: rem(40);
            }
        }
    }
}

.form-block {
    padding-top: clamp(rem(80), vw(200), rem(200));
    .container {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        gap: rem(100);
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(40);
        }
    }
    h2 {
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include tablet-smm {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        padding: clamp(rem(16), vw(24), rem(24));
        &-top {
            display: flex;
            gap: rem(16);
            @include tablet-sm {
                gap: rem(8);
            }
            img {
                width: rem(24);
                height: rem(24);
                @include tablet-sm {
                    width: rem(18);
                    height: rem(18);
                }
            }
            h3 {
                text-transform: uppercase;
                font-size: clamp(rem(16), vw(24), rem(24));
                margin-bottom: clamp(rem(8), vw(16), rem(16));
            }
        }
        &-link {
            a {
                font-size: clamp(rem(16), vw(24), rem(24));
                color: #1d1d1b;
            }

            margin-left: clamp(rem(26), vw(40), rem(40));
        }
    }

    &__caption-box {
        display: flex;
        gap: rem(24);
        align-items: center;
        margin-top: clamp(rem(24), vw(40), rem(40));
    }
    &__caption {
        font-size: clamp(rem(16), vw(24), rem(24));
    }

    &__social {
        display: flex;
        gap: rem(24);
        flex: 0 0 auto;
        @include tablet-sm {
            gap: rem(14);
        }
        img {
            @include tablet-sm {
                width: rem(24);
                height: rem(24);
            }
        }
    }

    &__box {
        background: #d9cebb;
        padding: clamp(rem(24), vw(60), rem(60));
        h3 {
            color: #4f4239;
            font-size: clamp(rem(24), vw(30), rem(30));
            line-height: 1.1;
            margin-bottom: clamp(rem(24), vw(40), rem(40));
            text-transform: uppercase;
        }
        p {
            margin-bottom: 5px;
						@include tablet-sm {
							 margin-bottom: 2px;
						}
        }
    }

    input[type='text'],
    input[type='email'],
    input[type='number'],
    input[type='tel'],
    input[type='password'],
    textarea {
        font-size: clamp(rem(14), vw(18), rem(18));
        border: none;
        padding: rem(16);
        width: 100%;
        color: #4f4239;
        margin-bottom: rem(0);
        border-radius: 0px !important;
        font-family: 'Geometria';
        background-color: transparent;
        &::placeholder {
            font-family: 'Geometria';
            color: #4f4239;
            font-size: clamp(rem(14), vw(18), rem(18));
        }
    }
    .input {
        position: relative;
        &::after {
            content: '';
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="298" height="1" viewBox="0 0 298 1" fill="none"><line y1="0.5" x2="298" y2="0.5" stroke="%234F4239" stroke-dasharray="20 20"/></svg>');
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
        }
        &::before {
            content: '';
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="70" viewBox="0 0 1 70" fill="none"><line x1="0.5" y1="2.18557e-08" x2="0.499997" y2="70" stroke="%234F4239" stroke-dasharray="20 20"/></svg>');
            position: absolute;
            height: 100%;
            width: 1px;
            right: 0;
            bottom: 0;
        }
    }
    .box {
        display: flex;
        gap: rem(24);
        margin-bottom: rem(16);
			
        @include tablet-sm {
					  margin-bottom: rem(12);
            flex-direction: column;
            gap: rem(16);
        }
    }
    .btn {
        margin-top: rem(22);
        letter-spacing: 1.05px;
    }
}

.video-block {
    margin-top: clamp(rem(40), vw(100), rem(100));
    video {
        max-height: rem(700);
        width: 100%;
        object-fit: cover;
        @include tablet-smm {
            max-height: rem(500);
        }
        @include mobile-sm {
            max-height: rem(200);
        }
    }
}

