@import '../inc/vars';

.footer {
    margin-top: clamp(rem(40), vw(80), rem(80));
    position: relative;
    background: #4f4239;

    &__social {
        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            gap: rem(16);
						@include tablet-sm {
							margin: auto;
						}
            .logo {
                max-width: rem(178);
                @include mobile-sm {
                    max-width: rem(100);
                }
            }
            .social-list {
                display: flex;
                gap: rem(16);
            }
        }
    }
    &__contact {
        display: grid;
        grid-template-columns: 1.6fr 0.7fr 0.7fr;
        gap: rem(24);
        padding: clamp(rem(24), vw(40), rem(40)) 0;

        @include tablet-sm {
            grid-template-columns: 1fr;
        }

        ul {
            list-style: none;
            margin: 0;
        }
        li {
            margin-bottom: rem(4);
            @include tablet-sm {
                text-align: center;
            }
        }
        a {
            color: white;
            font-weight: 400;
            transition: all 0.3s;
            text-transform: uppercase;
            font-size: clamp(rem(16), vw(18), rem(18));
            &:hover {
                opacity: 0.6;
            }
        }
    }

    .copyright {
        font-weight: 400;
        transition: all 0.3s;
        font-size: clamp(rem(16), vw(18), rem(18));
        padding: rem(16) 0;
        color: #909090;
        text-align: right;

        a {
            color: rgb(237, 237, 237);
            transition: all 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
        @include tablet-md {
            text-align: center;
        }
    }
}

