.btn {
    display: inline-flex;
    color: white;
    font-weight: 400;
    font-size: clamp(rem(16), vw(18), rem(18));
    text-transform: uppercase;
    padding: rem(18) rem(36);
    transition: all 0.3s ease 0s;
    background: #4f4239;
    outline: none;
    border: none;
		 font-family: 'Geometria'!important;
    border-radius: 0 !important;
    &:hover {
        background: #1d1d1b;
        color: #d9cebb;
    }
}

