@use 'inc' as *;

html {
    font-size: $bodyfontsize;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: $bodyfontsize;
    font-family: 'Geometria';
    line-height: 1.4;
    font-weight: 400;
		color: #1D1D1B;

}

a {
    color: #fdcd00;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
        opacity: 0.7;
    }
}
main {
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.default-template {
    padding: clamp(rem(24), vw(32), rem(32)) 0;
}

@import '_layout';
@import 'ui/_button';
@import 'ui/_headings';
/* Default Page */
// @import 'inc/_default-content';
/* Form checkboxes  */
// @import "inc/_checkboxes";
// HEADER & FOOTER
@import 'partials/header';
@import 'partials/footer';

